<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(var i = 0; i<5; i++){ %>
        <p>hello world</p>
    <% } %>
    <div class="login_form">
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="admin" required>
        <spam for="error_user" value=""></spam>
        <lable for="password">password</lable>
        <input type="password" id="password" name="password" value="admin" required>
        <spam for="error_user" value=""></spam>
        <button type="submit">Login</button>
        <a href="/register">Sign Up</a>
    </form>
    </div>
</body>
</html>