<link rel="stylesheet" href="./css/body-cards.css">
<div class="nav-bar">
    <nav>
        <ol>
            <li><a href="/home">Home</a></li>
            <li><a href="/blogs/creation">Blogs</a></li>
            <li>Ranking</li>
            <li>About</li>
            <li>
                <form action="/logout" method="post" class="logout">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </li>
        </ol>
    </nav>
</div>